<div class="container">
  <button type="button" name="button" ng-click="panelCtrl.HotelPage()">Hotel</button>
  <button type="button" name="button" ng-click="panelCtrl.RoomPage()">Room</button>
  <button type="button" name="button" ng-click="panelCtrl.PricingPage()">Pricing</button>
  <button type="button" name="button" ng-click="panelCtrl.InventoryPage()">Inventory</button>
  <button type="button" name="button" ng-click="panelCtrl.BookingPage()">Booking</button>
</div>

<!--
<div class="content HotelIcons" >

  <ul>
    <li class="ListItem1"><a title="BookingLog"><div class="text-center"><i class="fa fa-book"></i></div>
    <span>Booking Log</span></a>
    </li>

    <li class="ListItem2"><a title="BasicHotelInfo" ng-click="panelCtrl.HotelPage()"><div class="text-center"><i class="fa fa-info"></i></div>
    <span>Basic Info</span></a>
    </li>

    <li class="ListItem3"><a title="Inventory" ng-click="panelCtrl.InventoryPage()"><div class="text-center"><i class="fa fa-archive"></i></div>
    <span>Inventory</span></a>
    </li>

    <li class="ListItem4"><a title="Rooms" ng-click="panelCtrl.RoomPage()"><div class="text-center"><i class="fa fa-home"></i></div>
    <span>Rooms</span></a>
    </li>

    <li class="ListItem5"><a title="Pricing" ng-click="panelCtrl.PricingPage()"><div class="text-center"><i class="fa fa-inr"></i></div>
    <span>Pricing</span></a>
    </li>

  </ul>
</div>


<style>



.HotelIcons {
    margin: 0;
    padding: 0;
}



.HotelIcons ul {
    margin: 0;
    padding: 5px;
}



.HotelIcons li {
	text-align: center;
    width: 30%;
    margin: 5px;
    background-color: #1e90ff;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 10px;
    padding:0;
    border-radius: 5%;
}



.HotelIcons i {
  display: block;
    text-align: center;
    font-size: 28px;
    margin: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
    color: white;
}



.HotelIcons a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}



.HotelIcons a span{
  color:white;
  font-size:calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}



.ListItem1:hover{
	background-color: #1C83E8;
}



.ListItem2:hover{
	background-color: #1C83E8;
}



.ListItem3:hover{
	background-color: #1C83E8;
}



.ListItem4:hover{
	background-color: #1C83E8;
}



.ListItem5:hover{
	background-color: #1C83E8;
}



.content{
	text-align: center;
	 /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
   /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  min-width: 330px;
  width:50%;
}
</style> -->
